h1,h2 {
    font-family: 'Montserrat';
    width: fit-content;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    text-align: center;

}

.mainContainer {
    height: 100%;
    width: 100%;
    padding: 0;
    background-image: url(./images/cooking.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-y: center;
    
    
}

.formContainer {
    background-color: white;
    opacity: .95;
    border: 1px solid grey;
    max-width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 8px;
    margin: 0 auto;
    align-items: center;
    
}

.formContainer_block {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min-content;
    margin-bottom: 20px;

}

.photo{
    margin-top: 5px;
}

.button {

    margin-bottom: 16px !important
}

.input {
    width: 30ch;
}

input[type="file"] {
    display: none;
}


.recipeInput {
    width: 60ch;
    height: 40ch;
}

.backdropMessage {
    background-color: #004d34;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .formContainer{
    display:flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    height: auto;
    }

    .input, .recipeInput {
        width: 35ch;
    }

    h1 {
        font-size:1.2rem;
        margin-top:60px;
        margin-bottom: 60px;
    }

    .formContainer_block {

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    
    }
}

