.flexBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 32px;
    margin-top: 24px;
    
}

.borderLine{
    height: 4px;
    width: 96%;
    background-color: darkcyan;

}

.recipesList{
   
    display: grid;
    grid-template-columns:  repeat(4, 1fr);;
}

.recipeItem{
    align-items: center;
}

.viewOption{
display: flex;
justify-content: center;
font-size: 1.2em;
}

.slider,
.inputForm,
.dropdown{
    width: 25vw;
}


.radio{
    margin-left: auto;
    margin-right: auto;
}

   @media (max-width: 1024px){
    .recipesList{
        display: grid;
        grid-template-columns:  repeat(3, 1fr);;
    }
    .flexBar{
        display: block;
        margin-top: 5px;
    }
    .inputForm,
    .slider,
    .dropdown{
        margin-left: auto;
        margin-right: auto;
        width: 75vw;
    }
   }
   @media (max-width: 600px){
    .recipesList{
        display: grid;
        grid-template-columns:  repeat(1, 1fr);;
    }
    
   }
 