.flexBar{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px black solid;
    margin-bottom: 15px;
    
}

.recipesList{
   
    display: grid;
    grid-template-columns:  repeat(4, 1fr);;
}

.recipeItem{
    
    align-items: center;
}