* {
    box-sizing: border-box;
}

h1 {
    font-family:  Arial, Helvetica, sans-serif;
    letter-spacing: .5rem;
    font-weight: lighter;
}

.clientImage {
    height: 300px;
    border-radius: 50%;
}

.fanContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fanContainer2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.quote {
    margin: 100px;
    width: 700px;
    background: #eee;
    padding: 2em;
    border-radius: 1em;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
  }


.fanContainer p {
    text-align: end;
    font-size: 2rem;
}


.clientQuote {
    text-align: justify;
    font-size: 50px;
}