.header {
    font-size: 2rem;
    letter-spacing: 0.6rem;
    padding-left: .5rem;
}


.navContainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    font-family: 'Montserrat';
}

.loggedUser {
    letter-spacing: 0.2rem;
    position: absolute;
    right: 150px;
}