.singleCardMaterialUI {
    margin: 1rem;

}

.recipesList{
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  padding: 0 1rem
}

.recipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardBottom {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

.cardBottomFav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

.icons {
  display: flex;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: rgb(116, 115, 115);
}

.header {
    text-transform: uppercase;
    margin-left: 2rem;
}

.loginHeader {
  margin-left: 2rem;
}

.iconText {
    font-size: 1.25rem;
}


@media (max-width: 1024px) {
  .recipesList{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
  }
}


@media (max-width: 800px) {
  .recipesList{
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    padding: 0 0.5rem
  }

  .header {
    margin-top: 3rem;
    font-size: 1.5rem
  }

  .loginHeader {
    margin-top: 3rem;
    font-size: 1.5rem
  }

}