.singleCardMaterialUI {
    margin: 1rem;
}

.recipesList{
    display: flex;
    flex-direction: column;
}

.recipeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardBottom {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

.icons {
  display: flex;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: rgb(116, 115, 115);
}

.header {
    text-transform: uppercase;
}

.iconText {
    font-size: 1.25rem;
}

@media (min-width: 576px) {
  .recipesList{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .recipesList{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
  }

}